body {
	background: #fff;
	font: 15px Arial, Helvetica, sans-serif;
	line-height: 1.4;
	margin: 50px 0;
	margin-bottom: 100px;
}
em {
	color: #999;
}
p {
	line-height: 1.4;
}
ul {
	margin-bottom: 0;
}
section {
	margin-bottom: 2em;
}
blockquote {
	margin: 0;
	margin-bottom: 1em;
}
.item {
	margin-bottom: 1em;
}
#resume {
	margin: 0 auto;
	max-width: 480px;
	padding: 0 20px;
}
#basics {
	margin-bottom: -10px;
}
#basics h3 {
	margin-top: 1.5em;
}
#basics .contact strong,
#location strong {
	clear: both;
	float: left;
	line-height: 1.3;
	width: 120px;
}
#profiles,
#skills {
	overflow: hidden;
}
#profiles .item,
#skills .item {
	float: left;
	width: 50%;
}

@import url('https://themes.googleusercontent.com/fonts/css?kit=wAPX1HepqA24RkYW1AuHYA');
        ul.lst-kix_list_1-0 {
            list-style-type: none
        }

        .lst-kix_list_8-1>li {
            counter-increment: lst-ctn-kix_list_8-1
        }

        ol.lst-kix_list_8-2.start {
            counter-reset: lst-ctn-kix_list_8-2 0
        }

        ul.lst-kix_list_1-3 {
            list-style-type: none
        }

        ul.lst-kix_list_1-4 {
            list-style-type: none
        }

        ul.lst-kix_list_1-1 {
            list-style-type: none
        }

        ul.lst-kix_list_1-2 {
            list-style-type: none
        }

        ul.lst-kix_list_1-7 {
            list-style-type: none
        }

        ul.lst-kix_list_1-8 {
            list-style-type: none
        }

        ul.lst-kix_list_1-5 {
            list-style-type: none
        }

        ul.lst-kix_list_1-6 {
            list-style-type: none
        }

        .lst-kix_l5k2i22yq1i-0>li:before {
            content: "o  "
        }

        .lst-kix_l5k2i22yq1i-2>li:before {
            content: "\0025aa  "
        }

        .lst-kix_l5k2i22yq1i-1>li:before {
            content: "o  "
        }

        ol.lst-kix_list_8-8.start {
            counter-reset: lst-ctn-kix_list_8-8 0
        }

        ol.lst-kix_list_8-7.start {
            counter-reset: lst-ctn-kix_list_8-7 0
        }

        .lst-kix_list_5-0>li:before {
            content: "\0027a2  "
        }

        .lst-kix_list_5-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_list_5-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_list_8-3>li {
            counter-increment: lst-ctn-kix_list_8-3
        }

        .lst-kix_list_5-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_5-7>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_l5k2i22yq1i-5 {
            list-style-type: none
        }

        .lst-kix_l5k2i22yq1i-6>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_l5k2i22yq1i-4 {
            list-style-type: none
        }

        .lst-kix_list_5-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_list_5-8>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_l5k2i22yq1i-7 {
            list-style-type: none
        }

        ul.lst-kix_l5k2i22yq1i-6 {
            list-style-type: none
        }

        ul.lst-kix_l5k2i22yq1i-1 {
            list-style-type: none
        }

        .lst-kix_l5k2i22yq1i-4>li:before {
            content: "o  "
        }

        .lst-kix_l5k2i22yq1i-8>li:before {
            content: "\0025aa  "
        }

        ul.lst-kix_l5k2i22yq1i-0 {
            list-style-type: none
        }

        .lst-kix_l5k2i22yq1i-3>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_l5k2i22yq1i-3 {
            list-style-type: none
        }

        .lst-kix_l5k2i22yq1i-7>li:before {
            content: "o  "
        }

        ul.lst-kix_l5k2i22yq1i-2 {
            list-style-type: none
        }

        .lst-kix_list_5-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_5-5>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_l5k2i22yq1i-8 {
            list-style-type: none
        }

        .lst-kix_l5k2i22yq1i-5>li:before {
            content: "\0025aa  "
        }

        ul.lst-kix_ter5pkhvw9jn-1 {
            list-style-type: none
        }

        .lst-kix_list_6-1>li:before {
            content: "o  "
        }

        .lst-kix_list_6-3>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_ter5pkhvw9jn-0 {
            list-style-type: none
        }

        ul.lst-kix_ter5pkhvw9jn-3 {
            list-style-type: none
        }

        ul.lst-kix_ter5pkhvw9jn-2 {
            list-style-type: none
        }

        ul.lst-kix_ter5pkhvw9jn-5 {
            list-style-type: none
        }

        .lst-kix_list_6-0>li:before {
            content: "o  "
        }

        .lst-kix_list_6-4>li:before {
            content: "o  "
        }

        ul.lst-kix_ter5pkhvw9jn-4 {
            list-style-type: none
        }

        ul.lst-kix_ter5pkhvw9jn-7 {
            list-style-type: none
        }

        ul.lst-kix_ter5pkhvw9jn-6 {
            list-style-type: none
        }

        ul.lst-kix_ter5pkhvw9jn-8 {
            list-style-type: none
        }

        .lst-kix_list_6-2>li:before {
            content: "\0025aa  "
        }

        .lst-kix_list_6-8>li:before {
            content: "\0025aa  "
        }

        .lst-kix_list_6-5>li:before {
            content: "\0025aa  "
        }

        .lst-kix_list_6-7>li:before {
            content: "o  "
        }

        .lst-kix_list_6-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_ngdcr0t4zwdy-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_2-7>li:before {
            content: "\00274f  "
        }

        .lst-kix_list_7-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_7-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_list_2-5>li:before {
            content: "\00274f  "
        }

        .lst-kix_ngdcr0t4zwdy-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_ngdcr0t4zwdy-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_list_7-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_ngdcr0t4zwdy-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_list_8-6>li {
            counter-increment: lst-ctn-kix_list_8-6
        }

        ul.lst-kix_list_3-7 {
            list-style-type: none
        }

        ul.lst-kix_list_3-8 {
            list-style-type: none
        }

        .lst-kix_u72pnq1clrz8-0>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_w2pt6acr05so-8 {
            list-style-type: none
        }

        ul.lst-kix_list_3-1 {
            list-style-type: none
        }

        ul.lst-kix_w2pt6acr05so-7 {
            list-style-type: none
        }

        ul.lst-kix_list_3-2 {
            list-style-type: none
        }

        .lst-kix_list_7-8>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_list_3-0 {
            list-style-type: none
        }

        ul.lst-kix_list_3-5 {
            list-style-type: none
        }

        ul.lst-kix_list_3-6 {
            list-style-type: none
        }

        ul.lst-kix_list_3-3 {
            list-style-type: none
        }

        ul.lst-kix_list_3-4 {
            list-style-type: none
        }

        .lst-kix_95e8ton0xcsn-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_95e8ton0xcsn-2>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_br4m5l2gpmok-3 {
            list-style-type: none
        }

        ul.lst-kix_br4m5l2gpmok-4 {
            list-style-type: none
        }

        .lst-kix_list_4-1>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_br4m5l2gpmok-5 {
            list-style-type: none
        }

        .lst-kix_95e8ton0xcsn-4>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_br4m5l2gpmok-6 {
            list-style-type: none
        }

        ul.lst-kix_br4m5l2gpmok-7 {
            list-style-type: none
        }

        ul.lst-kix_br4m5l2gpmok-8 {
            list-style-type: none
        }

        ul.lst-kix_ngdcr0t4zwdy-4 {
            list-style-type: none
        }

        ul.lst-kix_ngdcr0t4zwdy-3 {
            list-style-type: none
        }

        .lst-kix_list_4-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_list_4-5>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_ngdcr0t4zwdy-2 {
            list-style-type: none
        }

        .lst-kix_95e8ton0xcsn-8>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_ngdcr0t4zwdy-1 {
            list-style-type: none
        }

        ul.lst-kix_ngdcr0t4zwdy-8 {
            list-style-type: none
        }

        ul.lst-kix_ngdcr0t4zwdy-7 {
            list-style-type: none
        }

        ul.lst-kix_br4m5l2gpmok-0 {
            list-style-type: none
        }

        ul.lst-kix_ngdcr0t4zwdy-6 {
            list-style-type: none
        }

        ul.lst-kix_br4m5l2gpmok-1 {
            list-style-type: none
        }

        ul.lst-kix_ngdcr0t4zwdy-5 {
            list-style-type: none
        }

        ul.lst-kix_br4m5l2gpmok-2 {
            list-style-type: none
        }

        .lst-kix_95e8ton0xcsn-6>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_ngdcr0t4zwdy-0 {
            list-style-type: none
        }

        .lst-kix_br4m5l2gpmok-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_br4m5l2gpmok-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_br4m5l2gpmok-5>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_list_2-8 {
            list-style-type: none
        }

        ol.lst-kix_list_8-8 {
            list-style-type: none
        }

        .lst-kix_br4m5l2gpmok-7>li:before {
            content: "\0025cb  "
        }

        ol.lst-kix_list_8-4 {
            list-style-type: none
        }

        ul.lst-kix_list_2-2 {
            list-style-type: none
        }

        ol.lst-kix_list_8-5 {
            list-style-type: none
        }

        ul.lst-kix_list_2-3 {
            list-style-type: none
        }

        ol.lst-kix_list_8-6 {
            list-style-type: none
        }

        ul.lst-kix_list_2-0 {
            list-style-type: none
        }

        ol.lst-kix_list_8-7 {
            list-style-type: none
        }

        ul.lst-kix_list_2-1 {
            list-style-type: none
        }

        ol.lst-kix_list_8-0 {
            list-style-type: none
        }

        ul.lst-kix_list_2-6 {
            list-style-type: none
        }

        ol.lst-kix_list_8-1 {
            list-style-type: none
        }

        .lst-kix_list_1-1>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_list_2-7 {
            list-style-type: none
        }

        ol.lst-kix_list_8-2 {
            list-style-type: none
        }

        ul.lst-kix_list_2-4 {
            list-style-type: none
        }

        ol.lst-kix_list_8-3 {
            list-style-type: none
        }

        ul.lst-kix_list_2-5 {
            list-style-type: none
        }

        .lst-kix_list_8-5>li {
            counter-increment: lst-ctn-kix_list_8-5
        }

        .lst-kix_list_1-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_list_1-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_1-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_list_2-1>li:before {
            content: "\00274f  "
        }

        .lst-kix_list_2-3>li:before {
            content: "\00274f  "
        }

        .lst-kix_ngdcr0t4zwdy-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_list_3-0>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_list_5-7 {
            list-style-type: none
        }

        ul.lst-kix_list_5-8 {
            list-style-type: none
        }

        .lst-kix_list_3-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_3-2>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_list_5-5 {
            list-style-type: none
        }

        ul.lst-kix_list_5-6 {
            list-style-type: none
        }

        .lst-kix_list_8-1>li:before {
            content: "" counter(lst-ctn-kix_list_8-1, lower-latin) ". "
        }

        .lst-kix_list_8-2>li:before {
            content: "" counter(lst-ctn-kix_list_8-2, lower-roman) ". "
        }

        .lst-kix_list_8-0>li {
            counter-increment: lst-ctn-kix_list_8-0
        }

        .lst-kix_list_3-5>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_list_5-0 {
            list-style-type: none
        }

        .lst-kix_list_3-4>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_list_5-3 {
            list-style-type: none
        }

        .lst-kix_list_3-3>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_list_5-4 {
            list-style-type: none
        }

        ul.lst-kix_list_5-1 {
            list-style-type: none
        }

        .lst-kix_list_8-0>li:before {
            content: "" counter(lst-ctn-kix_list_8-0, decimal) ". "
        }

        ul.lst-kix_list_5-2 {
            list-style-type: none
        }

        .lst-kix_list_8-7>li:before {
            content: "" counter(lst-ctn-kix_list_8-7, lower-latin) ". "
        }

        .lst-kix_list_3-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_w2pt6acr05so-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_w2pt6acr05so-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_list_8-5>li:before {
            content: "" counter(lst-ctn-kix_list_8-5, lower-roman) ". "
        }

        .lst-kix_list_8-6>li:before {
            content: "" counter(lst-ctn-kix_list_8-6, decimal) ". "
        }

        .lst-kix_w2pt6acr05so-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_8-3>li:before {
            content: "" counter(lst-ctn-kix_list_8-3, decimal) ". "
        }

        .lst-kix_list_3-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_w2pt6acr05so-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_list_3-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_8-4>li:before {
            content: "" counter(lst-ctn-kix_list_8-4, lower-latin) ". "
        }

        .lst-kix_w2pt6acr05so-7>li:before {
            content: "\0025cb  "
        }

        ol.lst-kix_list_8-5.start {
            counter-reset: lst-ctn-kix_list_8-5 0
        }

        .lst-kix_w2pt6acr05so-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_w2pt6acr05so-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_8-8>li:before {
            content: "" counter(lst-ctn-kix_list_8-8, lower-roman) ". "
        }

        .lst-kix_w2pt6acr05so-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_ter5pkhvw9jn-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_ter5pkhvw9jn-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_ter5pkhvw9jn-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_list_4-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_list_4-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_ter5pkhvw9jn-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_ter5pkhvw9jn-6>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_list_4-8 {
            list-style-type: none
        }

        ul.lst-kix_list_4-6 {
            list-style-type: none
        }

        ul.lst-kix_list_4-7 {
            list-style-type: none
        }

        .lst-kix_ter5pkhvw9jn-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_w2pt6acr05so-8>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_95e8ton0xcsn-7 {
            list-style-type: none
        }

        .lst-kix_list_8-4>li {
            counter-increment: lst-ctn-kix_list_8-4
        }

        .lst-kix_ter5pkhvw9jn-0>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_95e8ton0xcsn-8 {
            list-style-type: none
        }

        ul.lst-kix_list_4-0 {
            list-style-type: none
        }

        ul.lst-kix_95e8ton0xcsn-5 {
            list-style-type: none
        }

        ul.lst-kix_list_4-1 {
            list-style-type: none
        }

        ul.lst-kix_95e8ton0xcsn-6 {
            list-style-type: none
        }

        ul.lst-kix_95e8ton0xcsn-3 {
            list-style-type: none
        }

        .lst-kix_ter5pkhvw9jn-3>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_95e8ton0xcsn-4 {
            list-style-type: none
        }

        ul.lst-kix_list_4-4 {
            list-style-type: none
        }

        ul.lst-kix_95e8ton0xcsn-1 {
            list-style-type: none
        }

        ul.lst-kix_list_4-5 {
            list-style-type: none
        }

        ul.lst-kix_95e8ton0xcsn-2 {
            list-style-type: none
        }

        ul.lst-kix_list_4-2 {
            list-style-type: none
        }

        ul.lst-kix_list_4-3 {
            list-style-type: none
        }

        .lst-kix_ter5pkhvw9jn-2>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_95e8ton0xcsn-0 {
            list-style-type: none
        }

        ul.lst-kix_w2pt6acr05so-0 {
            list-style-type: none
        }

        .lst-kix_u72pnq1clrz8-6>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_w2pt6acr05so-2 {
            list-style-type: none
        }

        .lst-kix_u72pnq1clrz8-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_u72pnq1clrz8-7>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_w2pt6acr05so-1 {
            list-style-type: none
        }

        ul.lst-kix_w2pt6acr05so-4 {
            list-style-type: none
        }

        .lst-kix_u72pnq1clrz8-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_u72pnq1clrz8-8>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_w2pt6acr05so-3 {
            list-style-type: none
        }

        ul.lst-kix_w2pt6acr05so-6 {
            list-style-type: none
        }

        ul.lst-kix_w2pt6acr05so-5 {
            list-style-type: none
        }

        .lst-kix_u72pnq1clrz8-2>li:before {
            content: "\0025a0  "
        }

        ol.lst-kix_list_8-6.start {
            counter-reset: lst-ctn-kix_list_8-6 0
        }

        .lst-kix_u72pnq1clrz8-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_u72pnq1clrz8-3>li:before {
            content: "\0025cf  "
        }

        ol.lst-kix_list_8-0.start {
            counter-reset: lst-ctn-kix_list_8-0 0
        }

        .lst-kix_list_7-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_list_2-6>li:before {
            content: "\00274f  "
        }

        .lst-kix_ngdcr0t4zwdy-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_ngdcr0t4zwdy-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_list_2-4>li:before {
            content: "\00274f  "
        }

        .lst-kix_list_2-8>li:before {
            content: "\00274f  "
        }

        .lst-kix_list_7-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_7-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_ngdcr0t4zwdy-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_7-3>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_list_7-5 {
            list-style-type: none
        }

        ul.lst-kix_list_7-6 {
            list-style-type: none
        }

        ul.lst-kix_list_7-3 {
            list-style-type: none
        }

        ul.lst-kix_list_7-4 {
            list-style-type: none
        }

        ul.lst-kix_u72pnq1clrz8-8 {
            list-style-type: none
        }

        ul.lst-kix_list_7-7 {
            list-style-type: none
        }

        ul.lst-kix_list_7-8 {
            list-style-type: none
        }

        ul.lst-kix_list_7-1 {
            list-style-type: none
        }

        .lst-kix_list_8-7>li {
            counter-increment: lst-ctn-kix_list_8-7
        }

        ul.lst-kix_list_7-2 {
            list-style-type: none
        }

        ul.lst-kix_list_7-0 {
            list-style-type: none
        }

        .lst-kix_list_7-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_95e8ton0xcsn-1>li:before {
            content: "\0025cb  "
        }

        ol.lst-kix_list_8-1.start {
            counter-reset: lst-ctn-kix_list_8-1 0
        }

        .lst-kix_list_4-0>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_u72pnq1clrz8-4 {
            list-style-type: none
        }

        .lst-kix_95e8ton0xcsn-5>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_u72pnq1clrz8-5 {
            list-style-type: none
        }

        ul.lst-kix_u72pnq1clrz8-6 {
            list-style-type: none
        }

        ul.lst-kix_u72pnq1clrz8-7 {
            list-style-type: none
        }

        ul.lst-kix_u72pnq1clrz8-0 {
            list-style-type: none
        }

        .lst-kix_95e8ton0xcsn-3>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_u72pnq1clrz8-1 {
            list-style-type: none
        }

        ul.lst-kix_u72pnq1clrz8-2 {
            list-style-type: none
        }

        ul.lst-kix_u72pnq1clrz8-3 {
            list-style-type: none
        }

        .lst-kix_list_4-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_4-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_list_4-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_95e8ton0xcsn-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_br4m5l2gpmok-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_br4m5l2gpmok-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_br4m5l2gpmok-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_br4m5l2gpmok-6>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_list_6-6 {
            list-style-type: none
        }

        ul.lst-kix_list_6-7 {
            list-style-type: none
        }

        ul.lst-kix_list_6-4 {
            list-style-type: none
        }

        .lst-kix_br4m5l2gpmok-8>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_list_6-5 {
            list-style-type: none
        }

        ul.lst-kix_list_6-8 {
            list-style-type: none
        }

        .lst-kix_list_1-0>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_list_6-2 {
            list-style-type: none
        }

        ul.lst-kix_list_6-3 {
            list-style-type: none
        }

        .lst-kix_list_1-2>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_list_6-0 {
            list-style-type: none
        }

        ul.lst-kix_list_6-1 {
            list-style-type: none
        }

        ol.lst-kix_list_8-4.start {
            counter-reset: lst-ctn-kix_list_8-4 0
        }

        .lst-kix_list_1-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_8-8>li {
            counter-increment: lst-ctn-kix_list_8-8
        }

        .lst-kix_list_1-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_list_2-0>li:before {
            content: "\00274f  "
        }

        ol.lst-kix_list_8-3.start {
            counter-reset: lst-ctn-kix_list_8-3 0
        }

        .lst-kix_list_1-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_list_2-2>li:before {
            content: "\00274f  "
        }

        .lst-kix_ngdcr0t4zwdy-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_list_8-2>li {
            counter-increment: lst-ctn-kix_list_8-2
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c2 {
            color: #666666;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 9pt;
            font-family: "Arial";
            font-style: normal
        }

        .c11 {
            color: #666666;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c5 {
            margin-left: 36pt;
            padding-top: 0pt;
            padding-left: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            text-align: left
        }

        .c14 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Arial";
            font-style: normal
        }

        .c33 {
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c3 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        .c25 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.275;
            page-break-after: avoid;
            text-align: left
        }

        .c19 {
            text-decoration: none;
            vertical-align: baseline;
            font-family: "Arial";
            font-style: normal
        }

        .c0 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: justify
        }

        .c27 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c7 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            text-align: left
        }

        .c37 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.1500000000000001;
            text-align: center
        }

        .c35 {
            text-decoration: none;
            vertical-align: baseline;
            font-family: "Arial"
        }

        .c12 {
            color: #000000;
            font-size: 11pt
        }

        .c18 {
            color: #000000;
            font-size: 10pt
        }

        .c31 {
            font-size: 9pt;
            font-style: normal
        }

        .c28 {
            color: #000000;
            font-size: 9pt
        }

        .c4 {
            color: #1155cc;
            text-decoration: underline
        }

        .c1 {
            color: inherit;
            text-decoration: inherit
        }

        .c36 {
            max-width: 483.8pt;
            padding: 36pt 36pt 36pt 36pt
        }

        .c15 {
            padding: 0;
            margin: 0
        }

        .c23 {
            color: #a61c00;
            font-size: 11pt
        }

        .c32 {
            font-style: normal;
            color: #000000
        }

        .c24 {
            color: #000000;
            font-size: 24pt
        }

        .c6 {
            color: #666666;
            font-weight: 400
        }

        .c34 {
            color: #333333;
            font-size: 10pt
        }

        .c26 {
            padding-left: 0pt
        }

        .c16 {
            background-color: #ffffff
        }

        .c17 {
            height: 10pt
        }

        .c21 {
            color: #b7b7b7
        }

        .c29 {
            font-style: italic
        }

        .c30 {
            page-break-after: avoid
        }

        .c10 {
            font-size: 8pt
        }

        .c22 {
            margin-left: 36pt
        }

        .c20 {
            font-weight: 700
        }

        .c9 {
            font-weight: 400
        }

        .c8 {
            height: 9pt
        }

        .c13 {
            text-decoration: underline
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 0pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #a61c00;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            font-style: italic;
            text-align: left
        }

        li {
            color: #666666;
            font-size: 9pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #666666;
            font-size: 9pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 0pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 0pt;
            font-family: "Arial";
            line-height: 1.0;
            page-break-after: avoid;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #666666;
            font-size: 9pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #666666;
            font-weight: 700;
            font-size: 9pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            font-style: italic;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #666666;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #666666;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.1500000000000001;
            page-break-after: avoid;
            font-style: italic;
            text-align: left
        }